* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}

/* 复位css */
a {
    color: #333;
    text-decoration: none;
}

*, :after, :before {
    transition: all .3s
}

a:active, a:focus {
    outline: 0;
}

a:focus {
    color: #333;
}

a:hover {
    opacity: .9;
    text-decoration: none;
}

:active, :focus {
    outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.6;
    font-weight: 600;
}

p {
    word-wrap: break-word;
    word-break: break-word;
}

body {
    color: rgba(0, 0, 0, .8);
    line-height: 1.8;
    font-family: 'pingfang SC', 'helvetica neue', arial, 'hiragino sans gb', 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

h3 {
    font-size: 20px;
}

b, strong {
    background-color: transparent;
    background-image: linear-gradient(rgba(12, 242, 143, .2), rgba(12, 242, 143, .2));
    padding: .065em .4em;
    margin: 0 4px
}

blockquote {
    white-space: normal;
    margin-bottom: 15px;
    padding: 5px 20px;
    margin-left: 0;
    margin-right: 0;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #d0d6dc
}

blockquote p {
    color: #999 !important;
}

img {
    max-width: 100%;
    height: auto;
    transition: opacity .3s;
}

label {
    font-weight: 400
}

textarea {
    height: 12em;
    display: block
}

td, th {
    padding: 3px 8px;
    border: 1px solid #e1e1e1
}

code, pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    line-height: 1.8
}

button, input, textarea {
    -webkit-appearance: none !important;
    outline: 0;
    -webkit-tap-highlight-color: transparent
}

input[type=text], input[type=url], input[type=email], input[type=tel], input[type=password], input[type=search], textarea {
    border: 1px solid rgba(0, 0, 0, .05);
    width: 100%;
    padding-left: 1em;
    padding-right: .6em;
}

input[type=text]:focus, input[type=url]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=password]:focus, input[type=search]:focus, textarea:focus {
    outline: 0
}

.text-center {
    text-align: center;
}

/*网站导航*/
#site-nav {
    border-top: 1px solid rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.primary-menu a {
    padding: 0 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 50px;
    color: #555;
}

.primary-menu .current {
    color: #333;
    font-weight: 600
}

main {
    width: 1140px;
    margin: 0 auto;
}

main #content {
    /*background-color: #f00;*/
}

.entry-media {
    height: 160px;
    width: 213px;
    border-radius: 4px;
    background-origin: border-box;
    background-size: cover;
    overflow: hidden;
}

.post {
    padding: 16px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.left {
    width: 180px;
    height: 120px;
    position: relative;
    float: left;
}

.right {
    margin-left: 200px;
}

.entry-media .entry-img {
    width: 100%;
    height: 100%;
}

.post .entry-title {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 26px;
    white-space: nowrap !important;
}

.entry-summary {
    min-height: 42px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    margin: 14px 0;
    color: #999;
}

.entry-meta {
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
    margin-bottom: 16px;
}

.entry-meta-cat {
    color: #999;
}

ol.page-navigator {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

ol.page-navigator li {
    display: inline-block;
    color: #5f5f5f;
}

ol.page-navigator li a {
    font-size: 14px;
    padding: 0 20px;
    color: rgba(0, 0, 0, .6);
}

ol.page-navigator li.current a {
    color: #18779d;
}

main #sidebar {
    /*background-color: #ff0;*/
}

/* Sidebar modules for boxing content */
.sidebar-module {
    margin: 16px 0;
    padding: 8px;
}

.widget-title {
    border-bottom: 1px solid #e5e5e5;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
}

/*博客页底footer*/
#site-footer {
    padding: 15px 0;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
    z-index: 39;
}

#primary {
    padding-left: 16px;
}

#primary h3::before {
    content: "[";
    margin-right: 0.3125rem;
    color: #42b983;
    /*font-size: 1.1em;*/
}

#primary h3::after {
    content: "]";
    margin-right: 0.3125rem;
    color: #42b983;
    /*font-size: 1.1em;*/
}

#archives-tags h3 {
    color: #333;
    font-size: 24px;
}

#archives-tags h3::before {
    content: "#";
    margin-right: 0.3125rem;
    color: #42b983;
    font-size: 1.1em;
}

#archives-tags a {
    padding: 5px 10px;
    display: inline-block;
}

#archives-tags {
    border-bottom: 1px solid #eee;
    padding: 16px;
}

.archives-title {
    color: #333;
    font-size: 24px;
}

#archives {
    padding: 0px 16px 16px 16px;
}

.archives-title::before {
    content: "#";
    margin-right: 0.3125rem;
    color: #42b983;
    font-size: 1.1em;
}

#archives section a {
    display: block;
    padding: 4px 0;
    letter-spacing: 0.5px;
}

#archives section .time {
    display: inline-block;
    color: #939393;
    margin-left: 10px;
    width: 48px;
}

#archives section i {
    color: #939393;
    float: right;
}



